/*  Main CSS styling file - replaced by Vanilla Extract! */

/* Main App styling */
/* .app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* .appContent {
  margin: 1rem auto;
  flex: 1; 
} */

